---
layout: default
---
<div class="card">
  <div class="card-content">

    <h3 class="center">{{ title }}</h3>
    <p class="right-align">
      {{ page.date | date: "%d %B %Y" }}
    </p>

    <div class="container">
      {{content}}
    </div>

  </div>
</div>
