@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--header-font), serif;
    font-size: 2rem;
    font-weight: 100;
    margin-bottom: 2rem;
  }
  * {
    font-family: var(--body-font), sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
  }
}
