@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--header-font), serif;
    font-size: xx-large;
    font-weight: lighter;
  }
  * {
    font-family: var(--body-font), sans-serif;
    font-weight: light;
  }
}
