html {
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.85);
}

body {
  background-color: LightCyan;
  margin: 0;
}

.title {
  text-align: center;
  padding: 2.5rem 0 4rem 0;
  position: sticky;
  top: 0;
  z-index: 98;
  background-color: white;
  margin: 0;
}

.tagline {
  text-align: center;
  padding: 2rem 0 2rem 0;
  background-color: white;
  margin: -2.5rem 0 0 0;
}

nav {
  text-align: center;
  background-color: cyan;
  /* horizontal scrolling */
  overflow: auto;
  white-space: nowrap;
  /* vert stick */
  position: sticky;
  top: 9rem;
  z-index: 99;
}

nav a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 20px 10px 5px 10px;
  text-decoration: none;
}

nav a.active {
  background-color: rgba(0, 0, 0, 0.1);
}

nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

main {
  margin-top: 2rem !important;
}

.card {
  padding: 3rem;
  margin: 0.5rem 0 1rem 0;
  background-color: white;
  box-shadow: 1px 1px 5px lightgrey;
}

p {
  font-size: 130%;
}

img {
  max-width: 100%;
  height: auto;
}

.center-text {
  text-align: center;
}

.date {
  text-align: right;
  font-style: italic;
  font-size: 90%;
}
