html {
  line-height: 1.6;
  color: rgba(0, 0, 0, 0.85);
  font-size: 125%;
}

body {
  background-color: LightCyan;
  line-height: 1.6;
  margin: 0;
  color: #222;
}

.title {
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 98;
  background-color: white;
  margin: 0;
}

.tagline {
  padding: 1rem 0;
  background-color: white;
  margin: -1rem 0 0 0;
}

nav {
  text-align: center;
  background-color: #1f325a;
  /* horizontal scrolling */
  overflow: auto;
  white-space: nowrap;
  /* vert stick */
  position: sticky;
  top: 4rem;
  z-index: 99;
}

nav a {
  background-color: #1f325a;
  margin: 0 -2px;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
}
nav a h5 {
  margin: 0;
}

nav a.active,
nav a:hover {
  filter: brightness(80%);
}

main {
  margin-top: 2rem !important;
}

.container {
  padding: 0 1rem;
  max-width: 50rem;
  margin: 0 auto;
}

.card {
  padding: 2rem 5rem;
  margin: 0.5rem 0 1rem 0;
  background-color: white;
  box-shadow: 1px 1px 5px lightgrey;
}
@media (max-width: 550px) {
  .card {
    font-size: 90%;
    padding: 1rem;
  }
}

.no-margin {
  padding-top: 3rem;
  position: relative;
  z-index: 100;
  background-color: white;
  width: 100%;
  height: 90vh;
}

.no-margin h4 {
  margin: -10rem auto 0 auto;
  max-width: 64rem;
  padding: 0.5rem;
  position: relative;
  top: 10rem;
  text-align: center;
  z-index: 101;
  background-color: #fffa;
  border-radius: 1rem;
}

article p {
  font-size: 80%;
  text-align: justify;
}

img {
  max-width: 100%;
  height: auto;
}

.date {
  text-align: right;
  font-style: italic;
}
