<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content={{site.description}}>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

    <link rel="icon" href="{{ "/assets/img/favicon.ico" | relative_url }}" type="image/x-icon" />
    <title>{{site.title}} - {{page.title}}</title>
  </head>

  <body>
    <main role="main" class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-4 text-center">
          <br>
          <h1>{{ site.title }}</h1>

          {% if site.profilepic %}
            <img src="{{ site.profilepic | relative_url }}" alt="Profile Pic" />
          {% endif %}

          <br><br>
          <p>{{ site.description }}</p>

        <h2><a href="{{ "/" | relative_url }}">Home</a></h2>
        <h2><a href="{{ "/portfolio" | relative_url }}">Portfolio</a></h2>
        <h2><a href="{{ "/contact" | relative_url }}">Contact</a></h2>

        <br><br>
        </div>

      <div class="col-lg-1">
      </div>

      <div class="col-10 col-md-7">
        <br>
        <h2>{{ page.title }}</h2>

        {{ content }}

        <br>
      </div>
    </div>
  </main>

  <br><br><br><br>

<footer class="footer">
  <div class="container text-center text-muted">
         Built by <a href="https://lukestorry.co.uk/">Luke Storry</a> &copy; 2018
   </div>
</footer>

  </body>
</html>
